img {
    height: 100px;
    width: 100px;
    padding-right: 5px;
}

.list-items{
    display: flex;
    padding-bottom: 5px;
    width: 350px
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}